:root{
    --primary-color:#ffbd2f;
    --decent-color:#FFFFFF;
    --accent-color:#847a64;
    --menu-color:#f7edb6;
    --font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    font-family:var(--font-family);
}
.defaultIconColor{
    color: var(--primary-color);
}
.defaultSecondaryFontColor{
    color: #858789
}
.textAlignRight{
    text-Align:right;
}
#mainHeader{
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px;
}
.absoluteElements{
    position: absolute;
}
#LoginOrRegisterSection{
    text-decoration: none;
}

.topNavMargin{
    margin-top: 5px;
}
#contactInfoSection{
    text-decoration: none;
    color: #414549;
    font-weight: bold;
    margin-left:15px;
}
#topNavDiv{
    position: relative;
}
/* .menuSec{
    background-color: var(--menu-color);
} */
 #pill-tab-01, #pill-tab-02, #pill-tab-03{
    font-size:25px;
 }
.menuSec > div {
    padding-bottom: 2%;
}
.logoStyles{
    margin-top:20%;
}
.menuSecNavs{
    margin-top:30px;
    background-color: var(--decent-color) !important;
}
.spanPill{
    margin-left:12px;
    margin-right:12px;
}
.navItemColor{
    color:#9a9a9a;
}
.shoppingCartStyles{
    margin-top: 3.5%;
}
.cartItems{
    background-color: var(--primary-color);
    color: var(--decent-color);
    font-size: 11px;
    font-weight: 700;
    width: 21px;
    height: 21px;
    display: block;
    top: -35px;
    position: relative;
    right: -10px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
}
.carousel-Image{
    height:40rem;
}
/* #carouselIndicators{
    margin-top:15px;
    padding:0px;
} */
.card{
    width: 350px !important;
    border:none;
}
/* .btl{
    border-top-left-radius: 5px !important;
} */
.btn-dark {
      color: var(--decent-color);
      background-color:var(--primary-color);
 }
.btn-dark:hover {
      color: var(--decent-color);
      background-color:var(--primary-color);
  }
  .loginFormNavPills{
    display:table !important;
    width:100%;
  }
  .loginFormNavPills .nav-link {
      border-radius: 0px;
  }
  .loginNavItem{
        display: table-cell;
  }  
  .loginForm{
    padding: 10px;
    height: 300px;
  }
  .loginForm input{
    margin-top : 13px;
    border-radius: 3px;
  }
  .loginForm input:focus{
    box-shadow: none;
  }
  .loginForm button{
    margin-top: 20px;
  }
  .formPane{
    background-color:var(--primary-color) !important;
  }
  .loginFormNavPills .nav-link .active{
    background-color:var(--primary-color) !important;
  }

.inValid{
    border:2px solid red !important;
  }
.valid{
    border:2px solid rgb(23, 151, 40) !important;
}
.modal-header{
    border:0px;
    margin-bottom:0px;
    padding-bottom:0px;
}
.modalCloseButton{
    margin-left:90%;
}

.menuImages{
    height: 60%;
    cursor: pointer;
}

.subMenuImages{
    height: 120px;
    cursor: pointer;
    width:100%;
}

.menuImages:hover, .subMenuImages:hover{
    cursor: pointer;
}

.add-to-cart{
    background: var(--primary-color);
    color:var(--accent-color);
    border-radius:15%;
    padding:3px;
    cursor: pointer;
}
.add-to-cart:hover{
    color: var(--accent-color);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px;
    cursor: pointer;
}

.cart-dialog{
    height:100%;
    position:fixed;
    top:0;
    right:0;
    background-color: var(--decent-color);
    box-shadow: -4px 0 6px rgba(0,0,0,0.1);
    transition:right 0.3s ease-in-out;
    z-index:1000;
    padding:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top:0px;
}
/* .sidebar.open{
    right:0;
}
.sidebar-close{
    position: absolute;
    right:20px;
    top:10px;
    cursor:pointer;
} */

.removeBtn{
    background-color: var(--primary-color);
    margin-top:6%;
    border:none;
    margin-left:5%;
}
.cart-item-price{
    margin-top:7%;
}

.cart-product-image{
    width: 50px;
    height: 50px;
    margin: 10px;
}

ul li.loginNavPills{
    width: 45%;
    text-align: center;
}
.total--amount{
    margin-top:5%;
}

.cartCloseButton{
    margin-left:30%;
    margin-top:-5px;
}

.foodMenuItem.filtered {
    display: none;
}

.itemTitle{
    font-weight:bold;
}

.nav-pills .nav-link.active {
    background-color: var(--primary-color);
    color: black;
    font-weight:bold;
}

.nav-link{
    color: black;
}
.carousel-heading{
    margin-bottom: 10rem;
    font-size: 80px;
}

span.carousel-text {
    font-size: 20px;
    display:block;
}
.infoIcon{
    margin-right: 10px;
    color:var(--primary-color)
}

.iconsList{
    margin-left: 7rem;
}

li.list-group-item.specialFeatures {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-right:2rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

#carouselIndicators{
    padding:0 !important;
}