:root{
    --primary-color:#ffbd2f;
    --decent-color:#FFFFFF;
    --accent-color:#847a64;
    --font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    font-family:var(--font-family);
}
.defaultIconColor{
    color: var(--primary-color);
}
.defaultSecondaryFontColor{
    color: #858789
}
.textAlignRight{
    text-Align:right;
}
#mainHeader{
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px;
}
.absoluteElements{
    position: absolute;
}
#LoginOrRegisterSection{
    text-decoration: none;
}

.topNavMargin{
    margin-top: 5px;
}
#contactInfoSection{
    text-decoration: none;
    color: #414549;
    font-weight: bold;
    margin-left:15px;
}
#topNavDiv{
    position: relative;
}
.menuSec{
    background-color: var(--decent-color);
}
.logoStyles{
    margin-top:20%;
}
.menuSecNavs{
    margin-top:30px;
    background-color: var(--decent-color) !important;
}
.spanPill{
    margin-left:12px;
    margin-right:12px;
}
.navItemColor{
    color:#9a9a9a;
}
.shoppingCartStyles{
    margin-top: 3.5%;
}
.cartItems{
    background-color: var(--primary-color);
    color: var(--decent-color);
    font-size: 11px;
    font-weight: 700;
    width: 21px;
    height: 21px;
    display: block;
    top: -35px;
    position: relative;
    right: -10px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
}
.carousel-Image{
    height:650px;
    opacity:0.8;
}
#carouselIndicators{
    margin-top:15px;
    padding:0px;
}
.card{
    width: 400px;
    border:none;
}
.btr{
    border-top-right-radius: 5px !important;
}
.btl{
    border-top-left-radius: 5px !important;
}
.btn-dark {
      color: var(--decent-color);
      background-color:var(--primary-color);
 }
.btn-dark:hover {
      color: var(--decent-color);
      background-color:var(--primary-color);
  }
  .loginFormNavPills{
    display:table !important;
    width:100%;
  }
  .loginFormNavPills .nav-link {
      border-radius: 0px;
  }
  .loginNavItem{
        display: table-cell;
  }  
  .loginForm{
    padding: 10px;
    height: 300px;
  }
  .loginForm input{
    margin-top : 13px;
    border-radius: 3px;
  }
  .loginForm input:focus{
    box-shadow: none;
  }
  .loginForm button{
    margin-top: 20px;
  }
  .formPane{
    background-color:var(--primary-color) !important;
  }
  .loginFormNavPills .nav-link .active{
    background-color:var(--primary-color) !important;
  }

.inValid{
    border:1px solid red !important;
  }
.valid{
    border:1px solid greenyellow !important;
}
.modal-header{
    border:0px;
    margin-bottom:0px;
    padding-bottom:0px;
}
.modalCloseButton{
    float:right;
}

.menuImages{
    height: 60%;
}

.add-to-cart{
    background: var(--primary-color);
    color:var(--accent-color);
    border-radius:50%;
    padding:5px;
    cursor: pointer;
}
.add-to-cart:hover{
    color: var(--accent-color);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px;
}

.cart-dialog{
    height:100%;
    position:fixed;
    top:0;
    right:0;
    /* right: -300px; */
    background-color: var(--decent-color);
    box-shadow: -4px 0 6px rgba(0,0,0,0.1);
    transition:right 0.3s ease-in-out;
    z-index:1000;
    padding:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top:0px;
}
.sidebar.open{
    right:0;
}
.sidebar-close{
    position: absolute;
    right:20px;
    top:10px;
    cursor:pointer;
}